body {
 overflow: hidden;
 margin: 0;
 max-width: 1920px;
 max-height: 1080px;
 min-width: 1100px;
 min-height: 700px;
 transition: 1s;
}

.logo{
  opacity: 1;
  z-index: 100;
  width: 700px;
  height: 750px;
  position: fixed; top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  transition: 4s;
}

.fade{
  opacity: 0;
  transition: opacity 5s;

}

.backgroundImg{
  max-width: 1920px;
  max-height: 1080px;
  width: 1920px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: -100;
  margin: 0;
  padding: 0;

}

.title{
  font-size: 6rem;
  color: black;
  z-index: 100;
  margin: 0;
  font-family: "IM Fell English SC";
  font-weight: 900;
  width: 100%;
  position: fixed;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 0 20px 0;
  text-align: center;
  
}

.shadow {
  z-index: 1;
  font-size: 6.03rem;
  color: white;
  margin: 0;
  font-family: "IM Fell English SC";
  font-weight: 900;
  width: 100%;
  position: fixed;
  top: 7.3%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 0 20px 0;
  text-align: center;
}

.text{
  text-align: center;
  border: 3px  solid black;
  border-radius: 1rem ;
  width: 600px;
  font-size: 2rem;
  word-spacing: 0.1rem;
  margin: 0;
  background: rgba(255, 255, 255, 0.6);
  padding:1em;
  position: fixed; top: 70%; left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.2em;
  transition: 0.5s;
}

.answers{
    position: absolute; top: 79.5%; left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.answers input{ 
  text-align: left;
  font-family: "IM Fell English SC";
  border: 3px  solid black;
  border-radius: 1rem ;
  width: 300px;
  height: 40px;
  font-size: 25px;
  word-spacing: 0.1rem;
  margin:0;
  background: rgba(255, 255, 255, 1);
  line-height: 1.2em;
}

.answers button{
    font-family: "IM Fell English SC";
    font-size: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    position: absolute; top: 50%; left:82%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 30px;
}

.answers button:hover{
  background-color: white;
    color: black;
    transition: 0.5s;
}
  
#popup{
   background-color: rgba(255, 255, 255, 0.6);
   border: 3px solid black;
   border-radius: 1rem;
   width: 200px;
   height: 300px;
   z-index: 1000;
   position: absolute; top: 50%; left: 37%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-family: "IM Fell English SC"; 
}

#popup h1{
  color: Blue;
  margin: 10px 0px;
  font-size: 35px;
}

#popup h2{
  margin: 0;
color: black;
font-size: 20px;
}

#popup1{
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid black;
  border-radius: 1rem;
  width: 200px;
  height: 300px;
  z-index: 1000;
  position: absolute; top: 47%; left: 37%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "IM Fell English SC";
}

#popup1 h1{
 color: Blue;
 margin: 0px 0px;
 font-size: 35px;
}

#popup1 h2{
 margin: 0;
color: black;
font-size: 20px;
}

main{
  
  
  justify-content: space-between;
  display: flex;
  flex-direction:row;
  padding:0px;
  height: auto;
}

.m1{
height: 400px;
}

.m2{
position: relative; top: 50px;
}

.ageConverter{
  font-family: "IM Fell English SC";
}

.ageConverter img{
  width: 22rem;
  height: 25rem;
}

.ageConverter h1{
    font-size:  33px;
    position: absolute; top: -5px; left: 35px;
}
   
.ageConverter h2{
    font-family: "Bilbo Swash Caps";
     font-size:  30px;
     padding: 0px 0px 15px 0px;
     position: relative; top: -320px; left: 60px;
     margin: 0px;
}

.ageConverter h3{
  font-family: "Bilbo Swash Caps";
   font-size:  30px;
   padding: 0px 0px 0px 0px;
   position: relative; top: -373px; left: 130px;
   margin: 0px;
}

#conversion{
  position: relative; left: 170px;
  width: 100px;
}

.box{
  height: 400px;
    font-family: "IM Fell English SC";
}
  
.box img{
  width: 22rem;
  height: 33rem;
}

.box h1{
  font-size: 35px;
  position: relative;
  top: -530px;
  left: 40px;
}

.box ul{
  font-size: 30px;
  color: black;
  position: relative;
  top: -510px;
  left: 35px;
}

.box li{
  font-family: "Bilbo Swash Caps";
  margin: 0px 0 20px 0;
  width: 230px;
}

.classBox {
  font-family: "IM Fell English SC";
  width: 350px;
}

.classBox img{
  width: 22rem;
  height: 25rem;
}

.classBox h1 {
  position: relative; top: -340px; left: 50px; 
}

#cc {
  position: relative; top: -402px; left: 140px;
}

#classImg {
  z-index: 100;
  width: 200px;
  height: 200px;
  position: relative;
  top: -420px;
  left: 85px;
}

.stats {
  font-family: "IM Fell English SC";
}

.stats img{
  width: 22rem;
  height: 33rem;
}

.stats h1{
  position: relative; top: -535px; left: 100px;
  font-size: 40px;
}

.stats h2{
  font-size: 20px;
  position: relative;
  top: -515px;
  left: 30px;
  width: 300px;
  color: black;
}

.stats li {
  font-family: "Bilbo Swash Caps";
  font-size: 25px;
  position: relative;
  top: -520px;
  left: 50px;
  margin: 15px 0px;

}

.starter h1{
z-index: 1;
font-size: 23px;
font-family: "IM Fell English SC";
color: rgb(255, 255, 255);
position: fixed; top: 91.5%; left: 50%;
transform: translate(-50%,-50%);
}

.starter img {
width: 220px;
height: 140px;
  position: fixed; top: 93%; left: 50%;
  transform: translate(-50%,-50%);
}

.starter img:hover {
  width: 200px;
  height: 125px;

}

header{
  text-align: center;
  border: 3px  solid black;
  border-radius: 1rem ;
  width: 1000px;
  height:10px;
  font-size: 2rem;
  word-spacing: 0.1rem;
  margin: 0;
  background: rgb(255, 255, 255, 0.6);
  padding:1em;
  position: fixed; top: 7%; left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.2em;
  opacity: 0;
}

header button{
  text-decoration: none;
  padding: 0px 15px;
  color: white;
  background-color: #946137;
  position: relative; top: -15px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1rem;
  font-family: "IM Fell English SC";
  font-size: 35px;
  margin: 0px 15px ;
}

header button:hover {
  color: rgb(0, 0, 0);
  background-color: #ce8b55;
}

.shrink{
  font-size: 6rem;
  color: black;
  font-family: "IM Fell English SC";
  font-weight: 900;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}

@media only screen  and (max-width: 1400px){
  .title{
    font-size: 4.8rem;
    transition: 0.5s;
  }
  
  .shadow {
    font-size: 4.83rem;
    transition: 0.5s;
  }
  

  
}

@media only screen  and (max-width: 1300px){
  
  
  .title{
    font-size: 4rem;
    transition: 0.5s;
  }
  
  .shadow {
    font-size: 4.03rem;
    transition: 0.5s;
  }
  
  .text{
    width: 400px;
    font-size: 2rem;
    position: fixed; top: 60%; left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  
    }

    .ageConverter{
      transition:  0.8s;
    }
    
    .classBox {
      transition:  0.8s;
    }
    .box{
      transition:  0.8s;
    }

    .stats {
      transition:  0.8s;
    }

    #popup{
      top: 35%; left: 40%;
      transition: 0.5s;
       }

}

@media only screen  and (max-width: 1200px) {
  #popup{
 top: 45%; left: 25%;
 transition: 0.5s;
  }
  
  #popup1{
    top: 45%; left: 25%;
    transition: 0.5s;
     }

  .moved{
    height: 400px;
    z-index: 1000;
    position: relative; top: 60%; left: 65%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 0.5s;
  }

  .moved1{
    height: auto;
    z-index: 1000;
    position: relative; top: 250px; left: -750px;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 0.5s;

  }

  .moved2{
    height: 500px;
    z-index: 1000;
    position: relative; left: 65%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 0.5s;
  }

  .moved3{
    height: 500px;
    z-index: 1000;
    position: relative; top: -800px; left: -760px;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 0.5s;

  }

  .title{
    top: 20%;
    font-size: 6rem;
    transition: 0.5s;
  }
  
  .shadow {
    top: 20.5%;
    font-size: 6.03rem;
    transition: 0.5s;
  }
  
  .text{

    width: 650px;
    font-size: 2rem;
   top: 90%; 
    transition: 0.5s;
  
    }

      .ageConverter{
        transform: translatex(-100%);
        transition:  0.8s;
      }
      
      .classBox {
        transform: translatex(100%);
        transition:  0.8s;
      }
      .box{
        transform: translatex(-100%);
        transition:  0.8s;
      }
      
      .stats {
        transform: translatex(100%);
        transition:  0.8s;
      }

    header{
      opacity: 1;
      transition: 0.5s;
    }
    .wrapper {

      transition: 0.5s;
     }
  
     .shrink{
      transition: 0.5s;
    }
}

@media only screen  and (max-width: 1100px) {
  .wrapper {
    opacity: 0;
    transition: 0.5s;
   }

   .shrink{
    opacity: 1;
    transition: 0.5s;
  }

}

@media only screen  and (max-height: 1080px){
  
  .m2{
  position: relative; top: 130px;
  transition: 0.5s;
  }

  .m1{
    transition:  0.8s;
  }

  .m2{
    transition: 0.7s;
  }

  .starter img {
  position: fixed; top: 83%; left: 50%;
  transition: 0.5s;
  }

  .starter h1{
    position: fixed; top: 82%; left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
    }

  #popup{
    top: 48%;
    transition: 0.5s;
    }
    
    #popup1{
      top: 48%;
    transition: 0.5s;
    }
}

@media only screen  and (max-height: 1050px){
 
  .starter img{
    top: 93%;
    transition: 0.5s;
  }
  .starter h1{
    position: fixed; top: 91.5%; left: 50%;
    transition: 0.5s;
    }
  .moved2{
  top: -200px; 
  }

  .moved3{
  top: -200px; 
  

  }
  .title{
    transition: 0.5s;
  }
  
  .shadow {
    transition: 0.5s;
  }
  
  .text{
    top: 76%;;
    transition: 0.5s;
    }

    .answers{
      top: 90.8%; 
      transition: 0.5s;
    }
  
  .m2{
  position: relative; top: -5px;
  transition: 0.5s;
  }

  .m1{
    transition:  0.8s;
    }

  .m2{
    transition: 0.7s;
    }
    #popup{
      top: 55%;
      transition: 0.5s;
      }
  
      #popup1{
      top:55%;
      transition: 0.5s;
      }

}

@media only screen  and (max-height: 900px){
  
  .title{

    transition: 0.5s;
  }
  
  .shadow {
    transition: 0.5s;
  }
  
  .text{
    top: 75%;;
    transition: 0.5s;
    }

    
    .answers{
      transition: 0.5s;
    }

    #popup{
    top: 52%;
    transition: 0.5s;
    }

    #popup1{
    top: 52%;
    transition: 0.5s;
    }
  .m2{
    position: relative; top: -85px;
    transition: 0.5s;
    }
  
    .m1{
      transition:  0.8s;
      }
  
    .m2{
      transition: 0.7s;
      }

      .ageConverter{
        transition:  0.8s;
      }
      
      .classBox {
        transition:  0.8s;
      }
      .box{
        transition:  0.8s;
      }
  
      .stats {
        transition:  0.8s;
      }

      .text{
       z-index: -100;
        }

        #startButton{
          top: 93.5%;
          transition: 0.5s;
        }
}

@media only screen  and (max-height: 820px) and (min-height: 700px){

  #popup{
    top: 52%;
    transition: 0.5s;
    }

    #popup1{
    top: 52%;
    transition: 0.5s;
    }

    .starter img{
      left: 17%; top: 80%;
    }

    .starter h1{
      left: 17%; top: 78%;
    }


    .title{
    top :20%;
      transition: 0.5s;
    }
    
    .shadow {
      top :20.5%;
      transition: 0.5s;
    }
    
    .text{
      top: 80%;;
      transition: 0.5s;
    }

    .answers{
      position: absolute; top: 92%; left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.5s;
    }

  .moved{
    height: 400px;
    z-index: 1000;
    position: relative; top:150%; left: 35%;
    opacity: 1;
    transition: 0.5s;
  }

  .moved1{
    height: auto;
    z-index: 1000;
    position: relative; top: 600px; left: -450px;
    opacity: 1;
    transition: 0.5s;

  }

  .moved2{
    height: 500px;
    z-index: 1000;
    position: relative; top: -1100px; left: 35%;

    opacity: 1;
    transition: 0.5s;
  }

  .moved3{
    height: 500px;
    z-index: 1000;
    position: relative; top: -610px; left: -450px;
  
    opacity: 1;
    transition: 0.5s;

  }

  .title{
    font-size: 7rem;
    transition: 0.5s;
  }
  
  .shadow {
    font-size: 7.03rem;
    transition: 0.5s;
  }
  
  .text{
    width: 700px;
    transition: 0.5s;
  
  
    }
  
  .m1{
    transform: translateY(-100%);
    transition:  0.8s;
    }

  .m2{
    transform: translateY(100%);
    transition: 1.6s;
    }

    header{
      opacity: 1;
      transition: 0.5s;
    }

}

